html
  head
  title admin
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  <base href="/">
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  link(rel="stylesheet" href="css/baomoii.css")
  link(rel="stylesheet" href="css/all.css")
  link(rel="stylesheet" href="css/component-right.css")
  link(rel="stylesheet" href="css/hot-component.css")
  link(rel="stylesheet" href="css/tin-tong-hop.css")
  link(rel="stylesheet" href="css/tin-the-gioi.css")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  link(rel="stylesheet" href="https://raw.githubusercontent.com/kartik-v/bootstrap-star-rating/master/css/star-rating.min.css")
  //- link(href='http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css', rel='stylesheet')
  //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css')

  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js')
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
  script(src="rating.js")
  body(style="background-color: #6D4C45")
    .container-fluid(style='background-color: white; padding: 0;')
      <div class="top">
        <div class="logo"><img height="40px" src="image/logo/logo.png" alt=""></div>
        <div class="search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </div> 
        <div class="right-top d-flex" style="align-items: center; justify-content: space-around">
            <div style="margin-right: 10px">
              <a href="http://localhost:3000/admin" class="badge badge-info">Admin</a>
            </div>

            <div style="margin-right: 10px">
              <a href="http://localhost:3000/trangchu" class="badge badge-info">Trangchu</a>
            </div>

            <div style="margin-right: 10px">
              <div class="fa fa-user pad"></div>
              <div class="fa fa-bell pad"></div>
              <div class="fa fa-mobile pad"></div>
            </div>
        </div>
      </div>
      <div class="menu">
        <ul style="background-color: #575859; margin-bottom: 0">
          <li><a href="/trangchu"><i class="fas fa-home"></i></a></li>
          <li><a href="/xahoi">XÃ HỘI</a></li>
          <li><a href="/thegioi">THẾ GIỚI</a></li>
          <li><a href="/vanhoa">VĂN HÓA</a></li>
          <li><a href="/kinhte">KINH TẾ</a></li>
          <li><a href="/giaoduc">GIÁO DỤC</a></li>
          <li><a href="/thethao">THỂ THAO</a></li>
          <li><a href="/giaitri">GIẢI TRÍ</a></li>
          <li><a href="/phapluat">PHÁP LUẬT</a></li>
          
        </ul>
      </div>
  .container(style='background-color: white')
   <div id="main-form"></div>
   nav.navbar.navbar-light.bg-light.f-flex
      button.btn.btn-outline-info#btn-nhap(type='button', style="flex-grow: 1", onclick="displayInputForm()") Nhập tin tức
      button.btn.btn-outline-info#btn-them(type='button', style="flex-grow: 1", onclick="displayAddForm()") Thêm tin tức 
      


   form(id="form-input" action="/admin/addNews", method="POST", enctype="multipart/form-data", style="display: block ")
    .form-group.font-weight-bold
     label(for='exampleInputEmail1') TIÊU ĐỀ 
     input.title.form-control(type='text', aria-describedby='emailHelp', placeholder='Add title here', name='title' require)
     small#emailHelp.form-text.text-muted Nhập tiêu đề ở đây
     .alert.alert-danger.titleAlert(style="display: none" role='alert')
       | Require Title !!

    .form-group.font-weight-bold
     label(for='exampleInputPassword1') NỘI DUNG
     textarea.content.form-control.mb-2(type='text', placeholder='Add content here', rows='4', name='content')
     .alert.alert-danger.contentAlert(style="display: none" role='alert')
       | Require Content !!
    // image
    span.font-weight-bold ẢNH HOẶC VIDEO
    .input-group
     .custom-file
       input#inputGroupFile04.custom-file-input.addImage(onchange="nameImage()" type='file' name="image")
       label.custom-file-label(for='inputGroupFile04') Thêm ảnh hoặc video
     .input-group-append
    small#emailHelp.form-text.text-muted.nameImage
    small#emailHelp.form-text.text-muted.mb-3 Require.
    .alert.alert-danger.imageAlert.font-weight-bold(style="display: none" role='alert')
      | Require Image !!
    // hastag
    .form-group.font-weight-bold(style='width: 20%')
     label(for='exampleInputEmail1') Nh&#x1EAD;p hashtag
     input#exampleInputEmail1.form-control.hashtag(type='text', aria-describedby='emailHelp', placeholder='#Hashtag' name="hashtag")
     small#emailHelp.form-text.text-muted Require hastag
     .alert.alert-danger.hashtagAlert(style="display: none" role='alert')
       | Require Hashtag !!
    //tên nguồn
    
    // Thể loại
    .mb-3.font-weight-bold
     span Thể loại
     select.theloai.ml-2(name="theloai")
       option(value="thethao") Thể thao
       option(value="giaitri") Giải trí
       option(value="vanhoa") Văn hóa
       option(value="giaoduc") GIáo dục
       option(value="kinhte") Kinh tế
       option(value="xahoi") Xã hội
       option(value="thegioi") Thế giới
       option(value="phapluat") Pháp luật
    // tin hot
    input.check.ml-2(type='checkbox', name='firstNews', value='true')
    label(for='check')  Xuất hiện ở đầu bản tin
    br
    // trang thai xuat bang
    .mb-2.font-weight-bold
     span Trạng thái xuất bản
     select.ml-2.trangthai(name="trangthai")
       option(value="congkhai") Công khai
       option(value="riengtu") Riêng tư
    button.add-btn.btn.btn-primary.mb-3.mr-2( type='button' onclick="scriptAddNews()") ĐĂNG BÀI
    button.preview-btn.btn.btn-primary.mb-3.mr-2(type="button", onclick="addLocal()") PREVIEW
    .mb-3(style='border-bottom: 1px solid black')

    // form them

   form(id="form-add" action="/admin/addNews", method="POST", enctype="multipart/form-data", style="display: none ")
    .form-group.font-weight-bold
     label(for='exampleInputEmail1') TIÊU ĐỀ 
     input.title.form-control(type='text', aria-describedby='emailHelp', placeholder='Add title here', name='title' require)
     small#emailHelp.form-text.text-muted Nhập tiêu đề ở đây
     .alert.alert-danger.titleAlert(style="display: none" role='alert')
       | Require Title !!

    .form-group.font-weight-bold
     label(for='exampleInputPassword1') LINK BÀI VIẾT
     textarea.content.form-control.mb-2(type='text', placeholder='Add link here', rows='1', name='content')
     .alert.alert-danger.contentAlert(style="display: none" role='alert')
       | Require link !!
    // image
    span.font-weight-bold ẢNH HOẶC VIDEO
    .input-group
     .custom-file
       input#inputGroupFile04.custom-file-input.addImage(onchange="nameImage()" type='file' name="image")
       label.custom-file-label(for='inputGroupFile04') Thêm ảnh hoặc video
     .input-group-append
    small#emailHelp.form-text.text-muted.nameImage
    small#emailHelp.form-text.text-muted.mb-3 Require.
    .alert.alert-danger.imageAlert.font-weight-bold(style="display: none" role='alert')
      | Require Image !!
    // hastag
    .form-group.font-weight-bold(style='width: 20%')
     label(for='exampleInputEmail1') Nh&#x1EAD;p hashtag
     input#exampleInputEmail1.form-control.hashtag(type='text', aria-describedby='emailHelp', placeholder='#Hashtag' name="hashtag")
     small#emailHelp.form-text.text-muted Require hastag
     .alert.alert-danger.hashtagAlert(style="display: none" role='alert')
       | Require Hashtag !!
    //tên nguồn
    .form-group.font-weight-bold(style='width: 20%')
     label(for='exampleInputEmail1') Nhập tên nguồn
     input#exampleInputEmail1.form-control.source(type='text', aria-describedby='emailHelp', placeholder='Source' name="source")
     small#emailHelp.form-text.text-muted Require source
     .alert.alert-danger.hashtagAlert(style="display: none" role='alert')
       | Require source !!
    // Thể loại
    .mb-3.font-weight-bold
     span Thể loại
     select.theloai.ml-2(name="theloai")
       option(value="thethao") Thể thao
       option(value="giaitri") Giải trí
       option(value="vanhoa") Văn hóa
       option(value="giaoduc") GIáo dục
       option(value="kinhte") Kinh tế
       option(value="xahoi") Xã hội
       option(value="thegioi") Thế giới
       option(value="phapluat") Pháp luật
    // tin hot
    input.check.ml-2(type='checkbox', name='firstNews', value='true')
    label(for='check')  Xuất hiện ở đầu bản tin
    br
    // trang thai xuat bang
    .mb-2.font-weight-bold
     span Trạng thái xuất bản
     select.ml-2.trangthai(name="trangthai")
       option(value="congkhai") Công khai
       option(value="riengtu") Riêng tư
    button.add-btn.btn.btn-primary.mb-3.mr-2( type='button' onclick="scriptAddNews()") ĐĂNG BÀI
    button.preview-btn.btn.btn-primary.mb-3.mr-2(type="button", onclick="addLocal()") PREVIEW
    .mb-3(style='border-bottom: 1px solid black')


    .p-3.mb-2.bg-secondary.text-white(style='text-align: center;') PREVIEW
   ul#todo-list.pl-0

  script(type='text/javascript' src="/admin.js").
