html
  head
  title baomoi.com
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  <meta name="referrer" content="strict-origin" />
  <base href="/">
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  link(rel="stylesheet" href="css/baomoii.css")
  link(rel="stylesheet" href="css/all.css")
  link(rel="stylesheet" href="css/component-right.css")
  link(rel="stylesheet" href="css/hot-component.css")
  link(rel="stylesheet" href="css/tin-tong-hop.css")
  link(rel="stylesheet" href="css/tin-the-gioi.css")
  link(rel="stylesheet" href="css/input-file-news.css")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  link(rel="stylesheet" href="https://raw.githubusercontent.com/kartik-v/bootstrap-star-rating/master/css/star-rating.min.css")
  link(href='http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css', rel='stylesheet')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css')



  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js')
  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
  <script src="https://kit.fontawesome.com/d1cb7f123a.js" crossorigin="anonymous"></script>

  script(src="rating.js")

  body(style="background-color: #6D4C45")
    .container-fluid(style='background-color: white; padding: 0;')
      <div class="top">
        <div class="logo"><a href="/trangchu"><img height="40px" src="image/logo/logo.png" alt=""></a></div>
        <div class="search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </div> 
        <div class="right-top d-flex" style="align-items: center; justify-content: space-around">
            <div style="margin-right: 10px">
              <a href="http://localhost:3000/admin" class="badge badge-info">Admin</a>
            </div>

            <div style="margin-right: 10px">
              <a href="http://localhost:3000/trangchu" class="badge badge-info">Trangchu</a>
            </div>

            <div style="margin-right: 10px">
              <div class="fa fa-user pad"></div>
              <div class="fa fa-bell pad"></div>
              <div class="fa fa-mobile pad"></div>
            </div>
        </div>
      </div>
      <div class="menu" style="margin-top: 15px;">
        <ul style="background-color: #2fa1b3; margin-bottom: 0">
          <li><a href="/trangchu"><i class="fas fa-home fa-2x" ></i></a></li>
          <li><a href="/xahoi">XÃ HỘI</a></li>
          <li><a href="/thegioi">THẾ GIỚI</a></li>
          <li><a href="/vanhoa">VĂN HÓA</a></li>
          <li><a href="/kinhte">KINH TẾ</a></li>
          <li><a href="/giaoduc">GIÁO DỤC</a></li>
          <li><a href="/thethao">THỂ THAO</a></li>
          <li><a href="/giaitri">GIẢI TRÍ</a></li>
          <li><a href="/phapluat">PHÁP LUẬT</a></li>
          
        </ul>
      </div>
    block content